body {
background-image: url('img/battel.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Cinzel', serif;
color: hsl(240, 16%, 91%);
}


.form-control {
  padding: 5px;
  height: 50px;
}

form {
  margin-top: 30px;
}
.score {
  display: flex;
  height: 150px;
  width: 100%;
}

.score-iside-box{
  width: 20%;
  min-height: 50px;
  margin: 0 auto;
}

h1{
color: hsl(240, 16%, 91%);
font-size: 50px;
}

.battle-heade{
  text-align: center;
}

.btn{
margin-top: 30px;
margin-bottom: 30px;
font-size: 20px;

}

.panel-transparent {
  background: none;
}

.input-lg{
color: aliceblue;
}

.image-wrapper{
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
}
.col-md-6{
  display: flex;
  
}

#player-1-image,
#player-2-image {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid rgb(136, 136, 139);
}

.winning-box {
  min-height: 100px;
  width: 50%;
  margin: 0 auto;
}
.wrap-winning-box {
  display: flex;
  height: 150px;
  width: 100%;
}

.wrap-winning-box{
  font-size: 50px;
  color: aliceblue;
  text-shadow:5px 5px 10px black;
}
