.image-wrap-box {
  display: flex;
  width: 100%;
  height: 400px;
}
#first-player-image #second-player-image {
  position: relative;
  height: 200px;
  width: 200px;
}

img {
  display: block;
  margin: 0 auto;
}

.form-control {
  padding: 5px;
  height: 50px;
}

form {
  margin-top: 30px;
}
.score {
  margin-left: 245px;
}

.btn {
  margin-top: 30px;
}

.winning-box {
  border: 1px solid grey;
  min-height: 100px;
  width: 50%;
  margin: 0 auto;
}
.wrap-winning-box {
  display: flex;
  height: 150px;
  width: 100%;
}
