img {
  display: block;
  margin: 50px 80px 50px 80px;
}

.form-control {
  padding: 5px;
  height: 50px;
}

form {
  margin-top: 30px;
}
.score {
  margin-left: 245px;
}

.btn {
  margin-top: 30px;
}

.winning-box {
  border: 1px solid grey;
  min-height: 100px;
  width: 50%;
  margin: 0 auto;
}
.wrap-winning-box {
  display: flex;
  height: 150px;
  width: 100%;
}
